* {
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1915&q=80);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: rgb(57, 107, 174);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 620px;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
}

input {
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #22254b;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    color: white;
}

input:focus {
    outline: none;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1915&q=80);
}

button {
    margin-right: 10px;
    background-color: lightgrey;
    border-radius: 100%;
}

.weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 3rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.75);
}

h3 {
    font-size: 2rem;
    margin-top: 0px;
}

h4 {
    color: grey;
}

.forecast {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.75);
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    justify-content: space-between;
    border-radius: 20px;
}

.forecast h4 {
    margin-left: 20px;
}

.daily {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.currentCity {
    display: flex;
    flex-direction: column;
}

.city {
    display: flex;
}

.state {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lhs_temperature {
    font-size: 3rem;
    font-weight: bold;
    margin: auto;
}

.rhs_temperature {
    display: flex;
    align-items: center;
}

.feelsLike,
.high,
.low,
.humidity,
.wind,
.pressure {
    padding: 1rem;
    color: rgb(123, 152, 178);
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1rem;
    overflow: hidden;
}

@media (max-width: 375px) {
    .container {
        min-width: 0;
    }

    header {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .options {
        width: 90%;
    }

    .weather {
        width: 90%;
        margin: auto;
        padding: 1rem;
        align-items: unset;
    }

    .city {
        flex-direction: column;
    }

    .currentData {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .forecast {
        width: 90%;
        margin: auto;
        align-items: unset;
        margin-top: 1rem;
    }

    .daily {
        display: flex;
        overflow-x: auto;
        justify-content: unset;
    }

    .day {
        overflow: unset;
    }

    .feelsLike,
    .high,
    .low,
    .humidity,
    .wind,
    .pressure {
        padding: 5px;
    }

    .state img {
        max-width: 70%;
        height: auto;
    }
}
